<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.pacheco.jokeshower">

    <application>
        <activity
            android:name=".JokeShowerActivity"
            android:label="@string/title_activity_joke_shower"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>